.center{
    text-align: center;
}

.left-users-panel{
	height: 80vh;
	border-right: 1px solid #2a3942;
    background-color: #e5edea;
	width:100%;
	padding: 10px 10px;
	overflow: auto;
}
.right-chat-window {
	height: 75vh;
	width:100%;
	display: flex;
	flex-flow: column;
	border: 1px solid red;
	padding: 10px;
	overflow: auto;
}

.selected{
	box-shadow: 1px 1px 3px #000000;
	background-color: #0dcaf0 !important;
}

.card-style{
	margin-bottom: 6px;
}

.status{
	display: flex;
	align-items: center;
}

.card-style .status-online{
	display: inline-block;
	border-radius: 50%;
	height: 10px;
	width: 10px;
	background-color: green;
	color: green;
	margin-right: 5px;
}
.card-title{
	font-size: 16px;
	padding: 0px;
}
.card-text {
	font-size: 12px;
}
.userCard {
	padding: 0px 5px;
	background-color: #2a3942;
	color: white;
}
.userCard-status {
	padding: 0px 5px;
	background-color: #2a3942;
	color: white;
}
.card-body {
	padding: 5px 5px;
}

.person-image {
	font-size: 3em;
	color: grey;
	border-radius: 100%;
	overflow: hidden;
	background-color: white;
	padding: 0px 5px;
	margin-right: 5px;
}
.rightStatusBar{
	padding: 0px;;
}

.chat-input-box {
	background-color: #2a3942;
	/* position: fixed; */
	display: flex;
	
}

.chat-input-box #chat-input {
	border-radius: 0px;
}
.chat-btn {
	color: white;
}

#file-chooser {
	display: none;
}
.attach-icon {
	font-size: 1.5rem;
	color: white;
	padding: 0px 10px;
	cursor: pointer;
}
.message-window {
	background-color: white;
	height: 100%;
	padding: 5px 10px;
	overflow: auto;
}

.chat-section{
	padding-left: 0 !important;
}
.msgCont{
	display: flex;
	flex-direction: column;
}
.alignLeft{
	align-self: flex-start;
	background-color: aqua;
    padding: 0px 8px 0px 8px;
    border: 2px solid #ccc;
    border-radius: 5px;
}
.alignRight{
	align-self: flex-end;
	background-color: rgb(61, 219, 85);
    padding: 0px 8px 0px 8px;
    border: 2px solid #ccc;
    border-radius: 5px;
}